@charset "UTF-8";

@media screen and (min-width : 768px) and (max-width : 992px) {
    body {
        background-image: #EACFBE;
    }

    section#falenosco {
        width: 80vw;
        height: 280px;
    }

    section#falenosco > div#formulario {
        width: 70%;
    }
}

@media screen and (min-width : 992px){
    body {
        background-image: #EACFBE;
    }

    section#falenosco {
        width: 950px;
        height: 350px;
    }

    section#main {
        width: 950px;
        height: 350px;
    }

    section#falenosco > div#formulario {
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 20px;
    }

    div#formulario > legend {
        font-size: 1em;
        margin: 20px 20px;
    }
}

